#content.col-6.push-3
  #home.animated.fadeInDown
    %h5 Places
    %h1#tagline= I18n.t('home.tagline')

    = link_to '/auth/foursquare' do
      %button.foursquare.push-down
        %span.icon-map.push-right-small
        Login with Foursquare
