@import "bourbon";
@import "base/base";
@import "neat";

///////////////////////////////////////////////////////////////////////////////
// Sensible defaults.                                                        //
///////////////////////////////////////////////////////////////////////////////

.container {
  @include outer-container;
  margin-top: 15px;

  .col-4 {
    @include span-columns(4);
  }

  .col-6 {
    @include span-columns(6);
  }

  .push-2 {
    @include shift(2);
  }

  .push-3 {
    @include shift(3);
  }

  .push-down {
    margin-top: 15px;
  }
}

button {
  &.foursquare {
    background-color: $foursquare-blue;
    &:hover {
      background-color: $foursquare-navy;
    }
  }
}

@import "alerts";
@import "home";
