@import "bourbon";
@import "base/base";
@import "neat";

///////////////////////////////////////////////////////////////////////////////
// Sensible defaults.                                                        //
///////////////////////////////////////////////////////////////////////////////

// 1. Grid.
.container {
  @include outer-container;
  margin-top: 15px;

  .col-4 {
    @include span-columns(4);
  }

  .col-6 {
    @include span-columns(6);
  }

  .push-2 {
    @include shift(2);
  }

  .push-3 {
    @include shift(3);
  }

  .push-down {
    margin-top: 15px;
  }
}

// 2. Buttons and colors.
button {
  &.foursquare {
    background-color: $foursquare-blue;
    &:hover {
      background-color: $foursquare-navy;
    }
  }
}

// 3. Alert.
@mixin alert-variant($background, $border, $text-color) {
  background-color: $background;
  border-color: $border;
  color: $text-color;

  hr {
    border-top-color: darken($border, 5%);
  }

  .alert-link {
    color: darken($text-color, 10%);
  }
}

.alert {
  margin-bottom: $base-spacing / 2;
  padding: $base-spacing / 2;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-success {
  @include alert-variant(#dff0d8, #d6e9c6, #3c763d);
}

.alert-notice {
  @include alert-variant(#d9edf7, #bce8f1, #31708f);
}

.alert-warning {
  @include alert-variant(#fcf8e3, #faebcc, #8a6d3b);
}

.alert-error {
  @include alert-variant(#f2dede, #ebccd1, #a94442);
}

@import "home";
