// Place all the styles related to the places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map-wrapper {
  margin: 5% 0;

  #map {
    height: 600px;

    .controls {

      #find-me {
        position: absolute;
        bottom: 27px;
        right: 10px;
        z-index: 1000;

        width: 26px;
        height: 26px;
        line-height: 26px;
        text-align: center;
        background: $base-accent-color;
        color: $base-font-color;
        border-radius: 4px;
      }
    }
  }
}
