- flash.each do |type, message|
  .bold.center.p2.mb2.rounded{ class: basscss_class_for_alert(type) }
    %a{ href: 'javascript:void(0)', data: { flash: { behavior: 'dismiss' } } }
      %span &times;
    = message
