- content_for :head do
  = stylesheet_link_tag '//api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.css'

- content_for :scripts do
  = javascript_include_tag '//api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.js'
