= render 'mapbox'

#map-wrapper
  #map
    .controls
      %a{ href: '#', id: 'find-me' }
        %span.icon-location

- content_for :scripts do
  :javascript
      var models = #{ @models.to_json }
      $(document).ready(function() {
        PlaceMap.start({ models: models })
      });
